<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=1024, user-scalable=no">

    <title>Your deck.js Presentation</title>

    <!-- Required stylesheet -->
    <link rel="stylesheet" media="screen" href="bower_components/deck.js/core/deck.core.css">

    <!-- Extension CSS files go here. Remove or add as needed. -->
    <link rel="stylesheet" media="screen" href="bower_components/deck.js/extensions/goto/deck.goto.css" />
    <link rel="stylesheet" media="screen" href="bower_components/deck.js/extensions/menu/deck.menu.css" />
    <link rel="stylesheet" media="screen" href="bower_components/deck.js/extensions/navigation/deck.navigation.css" />
    <link rel="stylesheet" media="screen" href="bower_components/deck.js/extensions/status/deck.status.css" />
    <link rel="stylesheet" media="screen" href="bower_components/deck.js/extensions/scale/deck.scale.css" />
    <link rel="stylesheet" media="screen" href="bower_components/deck.js/extensions/codemirror/deck.codemirror.css" />
    <link rel="stylesheet" media="screen" href="bower_components/deck.js/extensions/codemirror/themes/default.css" />
    <link rel="stylesheet" media="screen" href="calendar-directive.css" />

    <!-- Style theme. More available in /themes/style/ or create your own. -->
    <link rel="stylesheet" media="screen" href="bower_components/deck.js/themes/style/web-2.0.css" />

    <!-- Transition theme. More available in /themes/transition/ or create your own. -->
    <link rel="stylesheet" media="screen" href="bower_components/deck.js/themes/transition/horizontal-slide.css" />

    <!-- Basic black and white print styles -->
    <link rel="stylesheet" media="print" href="bower_components/deck.js/core/print.css" />

    <!-- Required Modernizr file -->
    <script src="bower_components/deck.js/modernizr.custom.js"></script>
    <script src="bower_components/jQuery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="mathHelpers.js"></script>
    <script src="formatters.js"></script>
    <script src="calendars.js"></script>
    <script src="horology.js"></script>
    <script src="calendar-directive.js"></script>
</head>
<body>
    <div class="deck-container">
    <script>
        var framework = ajd;
        var timezone = new Date().getTimezoneOffset();
    </script>

    <!-- Begin slides. Just make elements with a class of slide. -->

    <section class="slide">
      <h2>Javascript Horology</h2>
      <div style="position: absolute; bottom: 5%; left: 15%; right: 15%;">
          <p>Horology</p>
          <blockquote>
              <p>The art and science of measuring time.</p>
              <cite><p>Mirriam-Webster</p></cite>
          </blockquote>
      </div>
    </section>

    <section class="slide">
        <h2>A brief history of Calendars</h2>
        <ul>
            <li>Observation based
                <ul>
                    <li>Lengths of seasons and phases of the moon do not divide evenly into days</li>
                    <li>Someone had to decide when to intercalate (add leap days/months)</li>
                </ul>
            </li>
            <li>Issues
                <ul>
                    <li>Intercalation failed due to general incompetence or when manipulated by politicians</li>
                    <li>Anyone more than a week from Rome didn't know the date</li>
                </ul>
            </li>
            <li>The fix was to produce a purely computational calendar
                <ul>
                    <li>Predictive</li>
                    <li>Immune to human interference</li>
                    <li>Required some math chops</li>
                </ul>
            </li>
       </ul>
    </section>

    <section class="slide">
        <div style="height=100%">
            <img src="Boromir.jpg" style="position: fixed; left: 50%; top:50%;
                                          margin-left: -238px; margin-top: -168px"/>
        </div>
    </section>

   <section class="slide">
        <h2>Lunar Calendar</h2>
        <p>(Islamic: *still observational)</p>
        <p>How long is the mean synodic month?</p>
        <ul class="slide">
            <li>Ancient Babylon (c. 300 BCE): 29.530594 days</li>
            <li>Current (as of 2010): 29.530588 days</li>
            <li>Months alternate 30 and 29 days</li>
            <li>Leap days (11 years in every 30) prevent lunar phase drift</li>
            <li>Seasons drift through the calendar</li>
        </ul>
    </section>

    <section class="slide">
        <h2>Solar Calendar</h2>
        <p>(Egyptian, Julian, Gregorian)</p>
        <p>How long is the mean tropical year?</p>
        <ul class="slide">
            <li>Julian: 365.25 days</li>
            <li>Gregorian reform: 365.2425 days</li>
            <li>Modern value (as of Jan 2000): ~365.24219 days</li>
            <li>Lunar phases drift through the calendar</li>
            <li>Leap days (1 year in every 4) prevent seasonal drift</li>
        </ul>
    </section>

    <section class="slide">
        <h2>Lunisolar Calendar</h2>
        <p>(Hebrew)</p>
        <ul>
            <li>Meton of Athens discovered that solar and lunar cycles coincide</li>
            <li>Metonic cycle says 19 years has the same number of days as 235 lunations</li>
            <li>Intercalate 7 months over each 19-year cycle
                <ul>
                    <li>A lunar calendar has 228 months in 19 years; need 235</li>
                    <li>Add 30-day months during years 3, 6, 8, 11, 14, 17, and 19 of cycle</li>
                </ul>
            </li>
            <li>This allowed horologists to produce computed lunisolar calendars</li>
        </ul>
    </section>

    <section class="slide">
        <h2>Counting Calendars</h2>
        <p>Mayan Long Count, various Operating Systems</p>
        <ul>
            <li>Epoch: Date that moment 0 maps to</li>
            <li>Number: Elapsed time since (or until) the Epoch</li>
        </ul>
    </section>

    <section class="slide">
        <h2>What have we learned?</h2>
        <ul>
            <li>Leap years on lunisolar calendars depend on Metonic cycle</li>
            <li>You are going to see some modulo arithmetic</li>
            <li>If you want to get this right, consult an astronomer</li>
        </ul>
        <img src="marvin.jpg" style="height: 384px; width: 512px"/>
    </section>

    <section class="slide">
        <h2>Javascript library</h2>
        <ul>
            <li>Represent dates from multiple calendars</li>
            <li>Convert between calendars</li>
        </ul>
        <ul>
            <li>Handle Javascript dates natively</li>
            <li>Based on Astronomical Julian Date (AJD)</li>
        </ul>
    </section>
    <section class="slide">
        <h2>AJD is a Counting Calendar</h2>
        <ul>
            <li>Epoch: January 01, 4713 BCE 12:00:00 UTC (Julian Calendar)</li>
            <li>Dates represented by double-precision floating point
                <ul>
                    <li>'number' in Javascript</li>
                    <li>Days and fraction of days since the Epoch</li>
                </ul>
            </li>
            <li>Lingua-Franca of calendar systems</li>
            <li>Easy to find code and algorithms to convert dates in other calendars to and from AJD
                <ul>
                    <li>John Walker (http://www.fourmilab.ch/documents/calendar)</li>
                    <li>http://en.wikipedia.org/Julian_day</li>
                    <li>Astronomical Algorithms (http://www.willbell.com/math/mc1.htm)</li>
                    <li>github.com/RaviDesai/Horology</li>
                </ul>
            </li>
            <li class="slide">So this meeting started at: 2456790.25</li>
        </ul>
    </section>

    <section class="slide">
        <h2>Want it to work something like this:</h2>
        <textarea id="code" name="code" class="code" mode="javascript" style="display: none;" runnable="true" globals="ajd,framework,timezone">
var fallDate = { calendar: "gregorian", year: 2013,
                 month: 9, day: 4, hour: 18 };

var frameworkDate = ajd.date(fallDate);
var hebrewCalendarDate = frameworkDate.to("hebrew");
var jsDate = frameworkDate.to("js");

console.log(hebrewCalendarDate.toLongString());
console.log(jsDate.toUTCString());
        </textarea>
    </section>

    <section class="slide">
        <h2>AJD Calendar Framework</h2>
        <ul>
            <li>Framework
                <ul>
                    <li>ajd.calendars: object - dictionary of available calendars</li>
                    <li>ajd.date(calendarDate) : frameworkDate</li>
                </ul>
            </li>
            <li>Framework Dates
                <ul>
                    <li>moment : number</li>
                    <li>to(calendarName, minutesWestUtc) : calendarDate</li>
                </ul>
            </li>
        </ul>
    </section>

    <section class="slide">
        <h2>Supporting new calendars</h2>
        <ul>
            <li>Extensible Calendars
                <ul>
                    <li>fromMoment(moment, minutesWestUtc) : calendarDate</li>
                    <li>toMoment(calendarDate) : number</li>
                    <li>calendarYear(year, minutesWestUtc) : yearCalendar</li>
                    <li>calendarMonth(year, month, minutesWestUtc) : monthCalendar</li>
                </ul>
            </li>
            <li>Extensible Formatters
                <ul>
                    <li>Specific to each Calendar's date objects
                        <ul>
                            <li>toString()</li>
                            <li>toLongString()</li>
                        </ul>
                    </li>
                    <li>Added as methods to calendarDate objects</li>
                </ul>
            </li>
        </ul>
    </section>

    <section class="slide">
        <h2>Stuff you thought was true</h2>
        <ul>
            <li>Every year has 12 months</li>
            <li>Hours divide into minutes and seconds</li>
            <li>6pm comes after 5pm</li>
            <li>Years start with the first month</li>
            <li>You can convert a date without knowing the time of day</li>
            <li class="slide" style="font-size: 70%">
                <textarea id="code" name="code" class="code" mode="javascript" style="display: none;" runnable="true" globals="ajd,framework,timezone">
var yearCalendar = framework.calendars.hebrew.calendarYear(5774);
var firstMonth = yearCalendar.months[0];
console.log("Hebrew " + (yearCalendar.isLeapYear ? "leap " : " ") + "year " +
    yearCalendar.year.toString() + " has " + 
    yearCalendar.months.length.toString() + " months");
  
var firstMs = framework.date(firstMonth.startingMoment);
var lastMs = framework.date(firstMonth.startingMoment + 1 - (1/86400000));
console.log("from: " + firstMs.to("hebrewTraditional").toString() + " to: " +
            lastMs.to("hebrewTraditional").toString());
console.log("from: " + firstMs.to("gregorian").toString() + " to: " + 
            lastMs.to("gregorian").toString());
                </textarea>
            </li>
            
        </ul>
    </section>



    <section class="slide">
        <h2>Let's play</h2>
        <div style="font-size: 70%">
            <textarea id="code" name="code" class="code" mode="javascript" style="display: none;" runnable="true" globals="ajd">
// William I becomes king
var xmas1066 = { calendar: 'julian', year: 1066, month: 12, day: 25, 
                 hour: 12, minutesWestUtc: 0 };
var jd = ajd.date(xmas1066);
var mydate = jd.to("gregorian", 0);
console.log("Proleptic Gregorian: " + mydate.toString());
var mydate2 = jd.to("hebrewTraditional", 0);
console.log("Hebrew: " + mydate2.toString());
            </textarea>
        </div>
        <div style="font-size: 70%">
            <textarea id="code" name="code" class="code" mode="javascript" style="display: none;" runnable="true" globals="ajd">
// Shakepeare and Cervantes die
var cervantesDeath = { calendar: 'gregorian', year: 1616, month: 04, day: 23, 
                 hour: 12, minutesWestUtc: 0 };
var shakespearesDeath = { calendar: 'julian', year: 1616, month: 04, day: 23, 
                 hour: 12, minutesWestUtc: 0 };
var jdCervantes = ajd.date(cervantesDeath);
var jdShakespeare = ajd.date(shakespearesDeath);
var daysBetween = Math.abs(jdShakespeare.moment - jdCervantes.moment);
console.log("Cervantes and Shakespeare died " + daysBetween.toString() + " days apart.");
            </textarea>
        </div>    
    </section>
      
    <section class="slide">
        <div ng-app="multiCalendar" ng-controller="Ctrl" style="font-size: 50%">
        <table style="width: 100%">
            <tbody>
                <tr style="vertical-align:middle;">
                    <td>
                    Calendar: <select ng-model="selectedCalendar" ng-options="c.name for c in calendars"  ng-required></select>
                    </td>
                    <td>
                    Julian Date: <input ng-model="selectedJulian" />
                    </td>
                    <td>
                    Long Count: {{getMayanLongCount()}}
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div style="font-size: 90%">
                            <div calendar mc-calendar="selectedCalendar" mc-julian-date="selectedJulian" mc-minutes-west-utc="{{minutesWestUtc}}"/>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </section>
    
    <!-- End slides. -->

    <!-- Begin extension snippets. Add or remove as needed. -->

    <!-- deck.navigation snippet -->
    <div aria-role="navigation">
      <a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
      <a href="#" class="deck-next-link" title="Next">&#8594;</a>
    </div>

    <!-- deck.status snippet -->
    <p class="deck-status" aria-role="status">
      <span class="deck-status-current"></span>
      /
      <span class="deck-status-total"></span>
    </p>

    <!-- deck.goto snippet -->
    <form action="." method="get" class="goto-form">
      <label for="goto-slide">Go to slide:</label>
      <input type="text" name="slidenum" id="goto-slide" list="goto-datalist">
      <datalist id="goto-datalist"></datalist>
      <input type="submit" value="Go">
    </form>

    <!-- End extension snippets. -->
  </div>

<!-- Required JS files. -->
<script src="bower_components/deck.js/jquery.min.js"></script>
<script src="bower_components/deck.js/core/deck.core.js"></script>

<!-- Extension JS files. Add or remove as needed. -->
<script src="bower_components/deck.js/extensions/menu/deck.menu.js"></script>
<script src="bower_components/deck.js/extensions/goto/deck.goto.js"></script>
<script src="bower_components/deck.js/extensions/status/deck.status.js"></script>
<script src="bower_components/deck.js/extensions/navigation/deck.navigation.js"></script>
<script src="bower_components/deck.js/extensions/scale/deck.scale.js"></script>
<script src="bower_components/deck.js/extensions/codemirror/codemirror.js"></script>
<script src="bower_components/deck.js/extensions/codemirror/mode/javascript/javascript.js"></script>
<script src="bower_components/deck.js/extensions/codemirror/deck.codemirror.js"></script>


<!-- Initialize the deck. You can put this in an external file if desired. -->
<script>
  $(function() {
    $.deck('.slide');
  });
</script>
</body>
</html>
